@import "../../scss/helpers";

.d-rich-text {
    white-space: pre-line;
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        color: var(--color-heading);
        margin-top: 1em;
        margin-bottom: 0.5em;

        &:first-child{
            margin-top: 0;
        }
    }

    a {
        text-decoration: underline;
    }

}
