.data-theme-light,
[data-theme='light'],
body {
  // --------------CONSTANTS---------------
  // Please DO NOT change values of variables defined here on different themes
  // These are CONSTANTS.

  --font-primary: 'Helvetica';
  --font-secondary: 'Helvetica';

  //--------------
  --color-sp-Theme-Constants: none;

  --color-primary: #13193A;
  --color-secondary: #FFDC5D;
  --color-light: #fff;
  --color-dark: #222222;
  //--------------
  --color-sp-Theme-Variants: none;

  --color-primary-darker: #0a0e24;
  --color-primary-lighter: #1e264f;

  --color-secondary-darker: #d0ad28;
  --color-secondary-lighter: #ffe77a;

  //---------------DEFAULT VALUES------------
  // The values of colors defined here will change depending on themes.
  // These are CONSTANTS.

  --color-sp-Theme-Dynamic: none;

  --color-primary-dynamic: var(--color-dark);
  --color-secondary-dynamic: var(--color-secondary);
  //--------------
  --color-sp-Site: none;

  --color-body: var(--color-dark);
  --color-bg: var(--color-primary);
  --color-error: #d20000;
  --color-heading: var(--color-primary-dynamic);

  //--------------
  --color-sp-Highlights: none;
  --color-highlight-0: rgba(0, 0, 0, 0.05);
  --color-highlight-1: rgba(0, 0, 0, 0.1);
  --color-highlight-2: rgba(0, 0, 0, 0.15);
  --color-highlight-3: rgba(0, 0, 0, 0.3);
  --color-highlight-4: rgba(0, 0, 0, 0.7);

  --color-sp-Shadow: none;
  --color-shadow-small: rgba(0, 0, 0, 0.1);

  //--------------

  //------------NUMBERS---------------
  --transition-ui: 0.25s ease-out;
  --transition: 0.5s ease-out;
  --border-style: solid;
  --border-width-small: 2px;
  --border-radius-small: 0px;
  --border-radius-medium: 0px;
  --border-radius-image: 0px;
  --border-radius-button: 24px;
  --val-max-width: 1200px;
  --val-max-width-narrow: 768px;
  --button-height: 48px;
  --button-border-width: 2px;

  --nav-height: 90px;

  --spacing-gap: 16px;
  --spacing-gap-xxs: calc(var(--spacing-gap) / 4);
  --spacing-gap-xs: calc(var(--spacing-gap) / 2);
  --spacing-gap-ms: calc(var(--spacing-gap) * 1.5);
  --spacing-gap-m: calc(var(--spacing-gap) * 2);

  --spacing-gap-xlarge: calc(var(--spacing-gap) * 8);
  --spacing-gap-large: calc(var(--spacing-gap) * 3);
  --spacing-gap-mobile: var(--spacing-gap);
  --spacing-gap-tablet: var(--spacing-gap-m);

  --z-index-xxs: 1;
  --z-index-xs: 2;

  --gradient-primary: none;
  --box-shaddow-small: 0 2px 8px 0 rgba(0, 0, 0, 0.15);
  --box-shaddow-medium: none;
  --box-shaddow-large: 0 2px 42px 0 rgba(0, 0, 0, 0.15);

  //--------------BREAKPOINTS DYNAMIC----------------
  --gap-layout: var(--spacing-gap-large);
  --gap-layout-y: var(--spacing-gap-large);
  @media #{$screen-tablet} {
    --gap-layout: var(--spacing-gap-tablet);
    --gap-layout-y: var(--spacing-gap-tablet);
  }
  @media #{$screen-mobile} {
    --gap-layout: var(--spacing-gap-mobile);
    --gap-layout-y: var(--spacing-gap-m);
  }
  --spacing-margin-outer: calc(
          (100vw - var(--val-max-width)) / 2 + var(--gap-layout)
  );
}

// use $darkTheme inside components
.data-theme-dark,
[data-theme='dark'] {
  --color-body: var(--color-light);
  --color-bg: var(--color-primary);
  --color-error: #ff7979;
  --color-primary-dynamic: var(--color-secondary);
  --color-secondary-dynamic: var(--color-primary);
  --color-heading: var(--color-light);

  --color-highlight-1: rgba(255, 255, 255, 0.2);
  --color-highlight-2: rgba(255, 255, 255, 0.3);
  --gradient-primary: radial-gradient(circle at 50% 55%, #026a38, #009923 92%);

  color: var(--color-body);
}
